#work-list{
    background-image: url("../assets/team-image_2.png");
    background-size: cover;
    background-position: center;
}

.roba-card{
    height:55vh;
    max-height: 450px;
    padding:1.5rem 1rem;
    background-color: #eb6b0f;
    border-radius: 7em .5em;
    color:#fff;
    margin-top:auto;
    margin-bottom:0;

    
    box-shadow: 0px 10px 2px 0px rgba(46,42,90,0.5);
-webkit-box-shadow: 0px 10px 2px 0px rgba(46,42,90,0.5);
-moz-box-shadow: 0px 10px 2px 0px rgba(46,42,90,0.5);

    
}
.roba-card-blue{
    background-color:#2e2a5a;
 
  
}
.roba-list-row{
    padding: 0 10rem;
}
.roba-list-col{
    padding:0 1.75rem;
margin:auto 0 0;
}

.roba-card-icon{
    height:6em;
    margin-bottom:2em;
    padding:1rem;
}

.card-container {
    position:absolute;
    top:auto;
    bottom:0;
    padding:2rem;

}
.card-container ul{
    padding:0;
    list-style-type: none;}
.card-item{
    margin:0.25rem 0;
}
.card-item a{
    color:#fff !important;
    margin:0 .3rem;
}
@media only screen and (max-width: 768px) {
    .roba-card{
        margin:1rem 0;
        padding:3rem 2rem;
    
        border-radius: 7em .5em;

    } 
    .roba-list-row{
        padding:0
    }  
}