#work-list{
    background-image: url("../assets/background-treppe.png");
}

.roba-card{
    min-height:33vh;
    max-height:42vh;
    margin:1rem;
    padding:5rem;


    background-color: #eb6b0f;
    border-radius: 7em .5em;
    color:#fff;
    
    box-shadow: 0px 10px 2px 0px rgba(46,42,90,0.5);
-webkit-box-shadow: 0px 10px 2px 0px rgba(46,42,90,0.5);
-moz-box-shadow: 0px 10px 2px 0px rgba(46,42,90,0.5);

    
}
.roba-card-blue{
    background-color:#2e2a5a;
 
  
}

.roba-list-col{
margin:auto 0;
}

.roba-card-icon{
    height:6em;
    margin-bottom:2em;
}