
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@import url("https://use.typekit.net/jwa1ezk.css");

body{
}

body, a{
  color:#2e2a5a !important;
}
#root{
 width:100vw;
 width:100%;
 padding: 0 1rem;
}
#app{
  font-family: 'Cairo', sans-serif;
  
}
.container-fluid{
padding:0;
}

h2{
  font-size: 2.2rem;
}

p{
  padding:1rem 0;
  margin:0.25rem 0;
  font-family: arno-pro, serif;
font-weight: 400;
font-style: normal;
font-size: 1.2em;
line-height: 1.5em;
}
.roba-section{
  min-height: 100vh;
  background-size:contain;
  background-position: right;
  background-repeat: no-repeat;
}

.roba-section div.row{
  height:100%;
  min-height:100vh;
}
.content-col{
  margin:auto 0;


}

.card-container ul{
  margin:0;
}
@media only screen and (min-width: 768px) {

.content-col{
  
  padding:0 10rem 0 18rem;
}

}